.main-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.MetrologyPhoto-container {
  margin-bottom: 50px;
}

/* Разделительная линия */
.DesignLine {
  margin-top: 100px;
  margin-bottom: 50px;
}

/* Стили для блока Collections */
.collections-container {
  margin-bottom: 100px;
}

/* Стили для блока Description */
.description-container {
  margin-bottom: 40px;
}

/* Стили для блока About */
.about-container {
  margin-bottom: 40px;
}
